<!DOCTYPE html>
<html>
<head>
  <title>Mapa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Mapa de garcas</a>
    </div>

    <%= form_tag entities_path, :method => 'get', :class => 'navbar-form navbar-left' do %>
    <div class="form-group">
    <%= text_field_tag :search, params[:search], :class => 'form-control'  %>
    </div>
    <button class="btn btn-default" type="submit"> Buscar </button>
    <% end %>

  </div>
</header>

<div class="container">
<%= yield %>
</div>

</body>
</html>
